{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class=" d-flex justify-compose-center">
    <div class="box-element mt-5 ">
        <hr>
        <h3>Reseñas y comentarios</h3>
        <hr>
        <form >
            {% csrf_token %}
            <div id="rate-info" class="row">
                <div class="form-field col-9 mx-2 mb-3">
                    <input required class="form-control" type="text" name="title" placeholder="Titulo de la reseña...">
                </div>
                <div class="form-field col-9 mx-2 mb-3">
                    <input required class="form-control" type="text" name="description" placeholder="Descripcion de la reseña...">
                </div>
                <div class="form-field col-5 mx-2 mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Calificacion</label>
                    <select required id="form-select" id="inputGroupSelect01" name="rate">
                      <option selected></option>
                      <option value="1">    ⭐</option>
                      <option value="2">   ⭐⭐</option>
                      <option value="3">  ⭐⭐⭐</option>
                      <option value="4"> ⭐⭐⭐⭐</option>
                      <option value="5">⭐⭐⭐⭐⭐</option>
                    </select>
                </div>
                <div class="form-field col-9 mb-3 mx-2">
                    <input type="file" class="form-control" id="inputGroupFile04" name="imageRate">
                </div>
            </div>
            <hr>
                <div class=" col">
                    <input id="form-button" class="btn btn-success btn-success" type="submit" value="Continuar">
                </div>
        </form>
    </div>
</div>
{% endblock content %}